<div class="flex items-center justify-between w-full h-20 px-20 top-0 border-b-2 border-[#181818] bg-black sticky z-10">
  <div></div>
  <div class="flex items-center gap-6">
    <a routerLink="/messages">
      <lucide-icon name="Send" [size]="22" class="text-neutral-50" />
    </a>
    <a routerLink="/notifications">
      <lucide-icon name="Bell" [size]="22" class="text-neutral-50" />
    </a>
    <a href="#">
      <div class="flex items-center justify-center w-9 h-9 rounded-full bg-neutral-50">
        <span class="font-medium text-sm">N</span>
      </div>
    </a>
  </div>
</div>
