<div class="flex items-center justify-between w-full h-20 px-20 top-0 border-b-2 border-[#181818] bg-black sticky z-10">
  <div></div>
  <div class="flex items-center h-full gap-6">
    <a routerLink="/messages">
      <lucide-icon name="Send" [size]="22" class="text-neutral-50" />
    </a>
    <div #bell class="flex items-center justify-center h-full notification-bell relative">
      <button (click)="toggleDropdown()" class="cursor-pointer">
        <lucide-icon name="Bell" [size]="22" class="text-neutral-50" />
      </button>
      @if (isDropdownOpen()) {
        <div class="notification-dropdown w-[380px] top-full right-0 rounded-xl border border-neutral-800 bg-neutral-900 z-50 absolute">
          <div class="flex items-center justify-between pt-3 px-5">
            <h3 class="font-semibold text-neutral-50 text-base">Radio check</h3>
            <button class="flex items-center justify-center w-[44px] h-[44px] text-[#CCCCCC] cursor-pointer rounded-full transition-all hover:text-neutral-50 hover:bg-neutral-800">
              <lucide-icon name="Ellipsis" [size]="20" />
            </button>
          </div>
          <div class="flex flex-col items-center justify-center min-h-[130px] pb-5 px-5 gap-2">
            <lucide-icon name="BellOff" [size]="30" class="text-[#777777]" />
            <p class="font-medium text-sm text-[#777777]">You have no notifications</p>
          </div>
        </div>
      }
    </div>
    <a href="#">
      <div class="flex items-center justify-center w-9 h-9 rounded-full bg-neutral-50">
        <span class="font-medium text-sm">N</span>
      </div>
    </a>
  </div>
</div>
