<app-main-content>
  <div class="flex flex-1 flex-col">
    <app-heading 
      heading="Standings" 
      showSearch="true"
    />

    <app-tabs
      labelPrimary="Drivers"
      labelSecondary="Teams"
      (tabChanged)="handleTabChange($event)"
    />

    @if (isLoading()) {
      @for (_ of [0, 1]; track $index) {
        <div class="flex items-center justify-between p-5 border-b-2 border-[#181818] animate-pulse">
          <div class="flex items-center gap-5">
            <div class="bg-neutral-800 h-5 w-10 rounded-full"></div>
            <div class="flex flex-col gap-2">
              <div class="bg-neutral-800 h-4 w-40 rounded-full"></div>
              <div class="bg-neutral-800 h-3 w-24 rounded-full"></div>
            </div>
          </div>
          <div class="flex items-center gap-5">
            <div class="bg-neutral-800 h-6 w-16 rounded-full"></div>
            <div class="bg-neutral-800 h-5 w-5 rounded-full"></div>
          </div>
        </div>
      }
    } @else if (activeTab() === 'primary') {
      @for (driver of drivers(); track $index) {
        <div class="flex items-center justify-between p-5 cursor-pointer transition-all border-b-2 border-[#181818] hover:bg-neutral-900/40">
          <div class="flex items-center gap-5">
            <div class="font-semibold text-base text-neutral-50 pr-5 border-r-2 border-[#181818]">{{ driver.position | number:'2.0' }}</div>
            <div class="flex flex-col">
              <div class="font-semibold text-base text-neutral-50">{{ driver.name }}</div>
              <div class="flex gap-1 items-center">
                <div [ngClass]="getTeamColor(driver.team)" class="text-sm">{{ driver.team }}</div>
              </div>
            </div>
          </div>
          <div class="flex items-center text-neutral-50 gap-5">
            <div class="font-medium text-sm cursor-pointer px-4 py-1 rounded-full border border-neutral-800 bg-neutral-900">
              {{ driver.points }} pts
            </div>
            <lucide-icon name="ChevronRight" [size]="22" />
          </div>
        </div>
      }
    } @else {
      @for (team of teams(); track $index) {
        <div class="flex items-center justify-between p-5 cursor-pointer transition-all border-b-2 border-[#181818] hover:bg-neutral-900/40">
          <div class="flex items-center gap-5">
            <div class="font-semibold text-base text-neutral-50 pr-5 border-r-2 border-[#181818]">{{ team.position | number:'2.0' }}</div>
            <div class="flex flex-col">
              <div class="font-semibold text-base text-neutral-50">{{ team.team }}</div>
              <div class="flex gap-1 items-center">
                <div [ngClass]="getTeamColor(team.team)" class="text-sm">
                  {{ getPilotLastNames(team.pilots) }}
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center text-neutral-50 gap-5">
            <div class="font-medium text-sm cursor-pointer px-4 py-1 rounded-full border border-neutral-800 bg-neutral-900">
              {{ team.points }} pts
            </div>
            <lucide-icon name="ChevronRight" [size]="22" />
          </div>
        </div>
      }
    }
  </div>

  <app-info-sidebar
    [showPoints]="true"
    [showInvite]="true"
    [showFollow]="true"
  />
</app-main-content>